body {
    margin: 0;
    background: #222;
    font-family: system-ui;
    display: grid;
    place-content: center;
    min-height: 100vh;
}

.App {
    display: flex;
    flex-direction: column;
    min-width: 320px;
    gap: 16px;
}